@model IEnumerable<FinancesCore.App.ViewModels.TransactionViewModel>

@{
    ViewData["Title"] = "Transaction List";
}

<h3>@ViewData["Title"]</h3>

<p>
    <a class="btn btn-info" asp-action="Create">New Transaction</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Title)
            </td>
            <td class="text-right">
                <a class="btn btn-warning" asp-controller="Transactions" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam> </a>
                <a disable-by-claim-name="Produto" disable-by-claim-value="Editar" class="btn btn-info" asp-controller="Transactions" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam> </a>
                <a disable-by-claim-name="Produto" disable-by-claim-value="Excluir" class="btn btn-danger" asp-controller="Transactions" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam> </a>
            </td>
        </tr>
        }
    </tbody>
</table>
