@using FinancesCore.App.Extensions
@model FinancesCore.App.ViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Transaction List";
}

<h3>@ViewData["Title"]</h3>
<hr />
<vc:Summary></vc:Summary>

<p supress-by-claim-name="Transaction" supress-by-claim-value="Add">
    <a class="btn btn-info" asp-action="Create">New Transaction</a>
</p>
<br />
<div class="d-flex justify-content-center">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header" style="display: flex; align-items: center; justify-content: space-between;">
                Incomings
                <i style="color:forestgreen" class="fas fa-arrow-down"></i>
            </div>
            <div class="card-body text-dark">
                <p class="card-text">@Model.Balance.Income.ToString("C")</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header" style="display: flex; align-items: center; justify-content: space-between;">
                Outcomings
                <i style="color:red" class="fas fa-arrow-up"></i>
            </div>
            <div class="card-body">
                <p class="card-text">@Model.Balance.Outcome.ToString("C")</p>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header" style="display: flex; align-items: center; justify-content: space-between;">
                Total
                <i style="color:goldenrod" class="fas fa-dollar-sign"></i>
            </div>
            <div class="card-body">
                <p class="card-text">@Model.Balance.Total.ToString("C")</p>
            </div>
        </div>
    </div>
</div>
<br />
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transaction.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Transactions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @item.Value.ToString("C")
                </td>
                <td>
                    <i display-by-transaction-type="item.Type"></i>
                    @this.GetTypeDescription(item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Title)
                </td>
                <td class="text-right">
                    <a class="btn btn-warning" asp-controller="Transactions" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam> </a>
                    <a disable-by-claim-name="Transaction" disable-by-claim-value="Edit" class="btn btn-info" asp-controller="Transactions" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam> </a>
                    <a disable-by-claim-name="Transaction" disable-by-claim-value="Delete" class="btn btn-danger" asp-controller="Transactions" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam> </a>
                </td>
            </tr>
        }
    </tbody>
</table>
